.content__subtitle {
  margin: 0;
  margin-top: 14px;
  max-width: 445px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  color: #ffffff;
}
@media screen and (max-width: 451px) {
  .content__subtitle {
    font-size: 24px;
    line-height: 28px;
    margin-top: 7px;
    margin: 0 auto;
  }
}
