.contacts-data__phone-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin: 0;
}
@media screen and (max-width: 451px) {
  .contacts-data__phone-title {
    font-size: 18px;
    line-height: 21px;
  }
}
