.form__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  max-width: 380px;
  margin: 0;
}
@media screen and (max-width: 451px) {
  .form__title {
    font-size: 15px;
    line-height: 140%;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
  }
}
