.form__number {
  width: 80%;
  min-height: 70px;
  background: #f8f8f8;
  box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
  border-radius: 5px;
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  background-image: url(../../../images/phone-icon.svg);
  background-repeat: no-repeat;
  background-position: 27px;
  text-align: left;
  outline: none;
  padding-left: 55px;
}

@media screen and (max-width: 451px) {
  .form__number {
    width: 85%;
    min-height: 15%;
    margin-top: 17px;
  }
}
