@import url('./__logo/header__logo.css');
.header {
    display: flex;
    max-width: 944px;
    width: 95%;
    margin: 0 auto;
    padding-top: 39px;
    padding-bottom: 40px;
}

@media screen and (max-width: 451px) {
    .header {
        padding-top: 0;
        padding-bottom: 0;
    }
}