.contacts__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  margin: 0;

}
@media screen and (max-width: 451px) {
  .contacts__title {
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    margin: 0;
  }
}
